<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="qlNhanLuc1" 
			 connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=qlNhanLuc1;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	
	</connectionStrings>
</configuration>